$white: #ffffff;
$black: #000000;
$gray: rgb(130, 130, 130);
$silver: #c0c0c0;
$green: #4dbd74;
$success: #4dbd74;
$primary: #20a8d8;
$danger: #f86c6b;
$blue: #0964a1;

body {
  font-family: Cabin, Helvetica, Verdana;
}

#navbar {
  border-bottom: solid $blue 8px;

  .navbar {
    padding: 0;
  }

  .navbar-toggler {
    border: none;
    margin-right: 8px;
  }

  .nav-link {
    color: $white;
    padding-top: 14px;
    padding-bottom: 14px;

    &:hover {
      background: $black;
    }

    &.active {
      background: $blue !important;
    }
  }
}

#banner {
  margin-top: -98px;
}

@media screen and (max-width: 360px) {
  #banner {
    margin-top: -24px;
  }  
}

#splash {
  position: fixed;
  right: 28px;
  top: 32px;
  z-index: 10000;
  padding: 8px;
  background: $green;
  // border: solid #C0C0C0 1px;
  color: $white;
  display: none;
}

.content-box {
  padding: 32px;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: $black;
  opacity: 0.6;
}